.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vh;
    height:60vh;
    background: #2C2C2E;
    border-radius: 15px;
    box-shadow: 0px 1px 19px 12px rgba(0,0,0,0.27);
}