.select {
    background: #E5E5EA;
    border:2px solid #E5E5EA ;
    outline: none;
    border-radius: 5px;
    color: #2c2c2e ;
    height: 26px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-weight: bold;
    
}