.input {
    background: #2c2c2e;
    border:2px solid #E5E5EA ;
    outline: none;
    border-radius: 5px;
    color: #E5E5EA ;
    height: 20px;
    padding-left: 1rem;
    margin-right: -1rem;
    font-weight: bold;
    
}